.accordion-button::after {
  background: 0% / 20px 20px  url('../img/arrows.png') no-repeat; /* или none */
  margin-right: 5px;
  transform: rotate(90deg);
}

.accordion-button:not(.collapsed)::after {
  background: 0% / 20px 20px  url('../img/arrows.png') no-repeat;
}

.accordion {
  --bs-accordion-bg: transparent;
}
.accordion-button {
  /*display: flex;
  width: auto;*/
  justify-content: space-between;
  background-color: transparent;
  padding: 15px 0;
  /*background: 97% / 40px 40px url(../img/arrows.png) no-repeat;*/
  border-bottom: 1px solid #fff;
}

.program__list-title {
  max-width: 80%;
}
/*.program__list-icon {
  height: 45px;
  width: 45px;
  background: 97% / 40px 40px url(../img/arrows.png) no-repeat;
}*/




.accordion-button:not(.collapsed) {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.accordion-button:focus {
  outline: none;
}

.accordion-item {
  border: none;
}

/*.accordion-button:not(.collapsed)::after {
  display: none;
}*/


